body {
    margin: 0;
    font-family: "Computer Modern Bright", sans-serif;
    background-color: #222831;
    color: #FFF;
}

header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file_submit {
    display: block;
    margin: 10px;
}

#file_submit_restrictions {
    font-size: 0.5em;
    margin-left: 10px;
}

.temp {
    display: none;
}