{% extends "base.html" %}

{% block body %}
    <script src="{{ url_for('static', filename='javascript/sqlitest.js') }}"></script>

    <form id="index_input" method="post" class="temp">
        Username: <input type="text" name="username" id="username">
        Password: <input type="text" name="password" id="password">
        <button type="submit">Submit</button>
    </form>

    <h3>OMG maybe I should let people upload files!</h3>
    <form method="POST" enctype="multipart/form-data" action="/upload" id="file_input">
        <input type="file" id="uploaded_file" class="file_submit" name="uploaded_file">
        <button type="submit" id="file_upload_submit" class="file_submit">Submit File</button>
    </form>
    <p id="file_submit_restrictions">Only .png, .jpg allowed.</p>

    <p id="upload_status" class="temp"></p>

    {% if result %}
        <h3>Query Result:</h3>
        <div>{{ result|safe }}</div>
    {% endif %}

    <div id="status"></div>
    <div id="countdown"></div> <!-- This will show the countdown -->

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('backup_status', function(data) {
            document.getElementById('status').innerHTML = data.message;

            setTimeout(function() {
                document.getElementById('status').innerHTML = '';
            }, 5000);
        });
        socket.on('countdown', function(data) {
            var countdownElement = document.getElementById('countdown');
            if (data.time_remaining > 0) {
                countdownElement.innerHTML = "Time remaining: " + data.time_remaining + " seconds.";
                setTimeout(function() {
                    countdownElement.innerHTML = '';
                }, 5000);
            } else {
                countdownElement.innerHTML = "Backup server stopped.";

                setTimeout(function() {
                    countdownElement.innerHTML = '';
                }, 5000);
            }
        });
    </script>

    <a href="http://127.0.0.1:8000/app/templates/test.php" id="php_test">Testing test link test.</a>
{% endblock %}
